<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071979677409-a16oiuerf4uqfikq52mm8vebn837e9vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071979677409-a16oiuerf4uqfikq52mm8vebn837e9vm</string>
	<key>API_KEY</key>
	<string>AIzaSyBDGx2pro84nIicl4wmRTznOVyZU-KP3_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1071979677409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-62e98</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-62e98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071979677409:ios:2d45b595620d0c83de19a0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-62e98.firebaseio.com</string>
</dict>
</plist>